html{
  background-color: #2C272E;
}

.App {
  background-color: #2C272E;
}
.banner-container{
  width: 100%;
  height: 50vh;
  background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/05/rick-morty-4x07-1939353.jpeg?itok=2T-VAhMV');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.title-container{
  text-align: center;
  color: #FFEFEF;
  font-family: 'Mali', cursive;
}
